[Unit]
Description=docker-net-makina

[Service]
Type=oneshot
ExecStart=/etc/docker-net-makina.sh start
ExecStop=/etc/docker-net-makina.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
