[Unit]
Description=lxc-net-makina

[Service]
Type=oneshot
ExecStart=/etc/lxc-net-makina.sh start
ExecStop=/etc/lxc-net-makina.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
