[Unit]
Description=LXC Container Initialization and Autoboot Code
After=syslog.target network.target
Wants=lxc-net.service,lxc-net-makina.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/lib/x86_64-linux-gnu/lxc/lxc-devsetup
ExecStartPre=/usr/lib/x86_64-linux-gnu/lxc/lxc-apparmor-load
ExecStart=/usr/lib/x86_64-linux-gnu/lxc/lxc-containers start
ExecStop=/usr/lib/x86_64-linux-gnu/lxc/lxc-containers stop
# Environment=BOOTUP=serial
# Environment=CONSOLETYPE=serial
Delegate=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
