[Unit]
Description=ms iptables
After=network.target
Before=libvirtd.service
Before=NetworkManager.service
Before=lxc-net-makina.service
Before=lxc-net.service
Before=docker-net-makina.service
Before=docker-net.service
Before=docker.service
Before=openvpn.service
Conflicts=iptables.service ip6tables.service ebtables.service shorewall.service firewalld.service

[Service]
EnvironmentFile=-/etc/sysconfig/ms_iptables
EnvironmentFile=-/etc/default/ms_iptables
ExecStart=/etc/init.d/ms_iptables start
ExecReload=/etc/init.d/ms_iptables reload
ExecStop=/etc/init.d/ms_iptables stop
RemainAfterExit=Yes
Type=oneshot
TimeoutStopSec=0
RestartSec=0

[Install]
WantedBy=basic.target
