

{% macro deliver(common) %}
sync-image-{{common.name}}:
  cmd.run:
    - name: rsync -azv {{deliverable_producer}}:{{/release_path}}/ {{release_path}}/

tmp-uncompress-{{common.name}}:
  archive.extracted:
    - name: {{tmpdir}}/target/

sync-delivery--{{common.name}}:
  cmd.run:
    - name: rsync -azv --delete {{tmpdir}}/target/ {{common.project_root}}/target
{% endmacro %}
