{{ salt['mc_macros.register']('services', 'java.tomcat7') }}
{% set locs = salt['mc_locations.settings']() %}

{% set ver = '4' %}
{% set groot = locs.srv_dir+'/solr' %}
{% set root = groot + '/'  + ver %}
{% set home_dir = root + '/home' %}
{% set data_dir = root + '/data' %}
{% set solr4StepOne = salt['grains.filter_by']({
  'dev': {
    'ver': ver,
    'full_ver': '4.6.0',
    'global_root_dir': groot,
    'root_dir': root,
    'dl_dir': root + '/download',
    'webapp_dir': root + '/webapp',
    'home_dir': home_dir,
    'conf_dir': home_dir + '/conf',
    'data_dir': data_dir,
    'cores': [
      {'name': 'default', 'dir': home_dir + '/default'},
    ],
  },
  'prod': {
  }
},
  grain='default_env',
  default= 'dev'
) %}
{% set solr4StepTwo = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },
  },
  grain='os_family',
  merge=solr4StepOne
) %}
# FINAL STEP: merge with data from pillar
{% set defaultsData=salt['mc_utils.dictupdate'](
  solr4StepTwo ,
  salt['pillar.get']('solr4-default-settings',{})) %}

