.*installed.cfg
nobackup
*.swp
makina.scripts
MegaSAS.log
*.sav
pep8.log
pylint.log
unittest.log
reflog
versions.cfg
*pyc
*~
boot_salt_out
boot_salt_log
boot_salt_top
.bootlogs
.boot_salt_cmd
.boot_salt_log
.bootsalt_need_restart
.boot_salt_out
.boot_salt_top
.buildout
.coverage*
.initial_hs
.lint.log
.mr.developer.cfg
.pep8.log
.rebootstrap
.restart_msalt
.restart_msalt_minion
.restart_salt
.restart_salt_minion
.saltcheck
.saltchk
.salt-lxc-bootstrapped
.unit.log
/app
/baseimage.*
/buildout/buildout.cfg
/corpus-*
/data
/develop-eggs/
/doc/build
/docker/baseimage*xz
/docker/Dockerfile
/docker/Dockerfile*s0
/docker/Dockerfile*s1
/docker/Dockerfile*stage0
/docker/Dockerfile*stage1
/Dockerfile
/docker/makina-states.tar
/docker/makina-states.tar.xz
/docker/osfiles.tar
/docker/osfiles.tar.xz
/downloads/
/eggs/
/files/root/admin_scripts/nagios/nagios_plugins/
/include
/lib
/local
/locfiles
/man
/mc_states.egg-info/
/parts/
/.py
/share
/src
/tags.env
/tags.python
/tests/mc_states
/docker/virtualenv-makina-states-*
/docker/*.log
/var/ansible
/var/run
/var/log
/etc/salt/minion.d
/etc/salt/makina-states
/requirements/git_requirements.txt
/salt/makina-projects
/pillar/makina-projects
/pillar/pillar.d
/pillar/private.pillar.d
/pillar/overrides
/etc/makina-states/
/var/cache
/var/.first_highstate
/venv
/etc/masterless_pillars/
/ansible/**/*.retry
/etc/ansible/inventories
