.installed.cfg
.bootlogs
.boot_salt.*.log
.boot_salt.*.out
.boot_salt.*.log
.boot_salt_cmd
.boot_salt_log
.boot_salt_out
.bootsalt_need_restart
*pyc
.boot_salt_top
.rebootstrap
boot_salt_out
boot_salt_log
boot_salt_top
.saltchk
.salt-lxc-bootstrapped
.saltcheck
include
lib
local
bin/
.mr.developer.cfg
develop-eggs/
downloads/
eggs/
parts/
src/
*~
.restart_msalt
.restart_msalt_minion
.restart_salt
.restart_salt_minion
!files/*
!files/usr/bin*
!_states
!_modules
