{#retrocompat#}
{% import "makina-states/services_managers/supervisor/macros.jinja" as m with context %}
{% set data = m.data %}
{% set locs = m.locs %}
{% set supervisorAddWatcher = m.supervisorAddProgram %}
