{# Apache specific macros
retro compat, use now services/http/apache/macros.sls
#}
{% import "makina-states/services/http/apache/macros.sls" as base with context %}
{% set default_vh_template_source = base.default_vh_template_source %}
{% set default_vh_in_template_source = base.default_vh_in_template_source %}
{% set includes base.includes %}
{% set virtualhost = base.virtualhost%}
{% set apacheSettings = base.apacheSettings%}
{% set apacheData = apacheSettings %}
{% set minimal_index base.minimal_index%}
{# vim: set nofoldenable :#}
