{% macro deliver_config_files(confs,
                              prefix='config-',
                              dir='makina-states/files',
                              after_macro=None,
                              user='root',
                              group='root',
                              mode=750,
                              makedirs=True,
                              template='jinja') %}
{% for f, fdata in confs.items() %}
{% set templated = fdata.get('template', template) %}
{{prefix}}{{f}}:
  file.managed:
    - name: "{{fdata.get('target', f)}}"
    - source: "{{fdata.get('source', 'salt://{0}{1}'.format(dir, f))}}"
    - mode: "{{fdata.get('mode', mode)}}"
    - user: "{{fdata.get('user', user)}}"
    - group:  "{{fdata.get('group', group)}}"
    {% if kwargs %}
    - context:
        data: |
              {{ kwargs | json }}
    {% endif %}
    {% if fdata.get('makedirs', makedirs) %}
    - makedirs: true
    {% endif %}
    {% if templated %}
    - template: "{{templated}}"
    {%else %}
    - template: false
    {%endif%}
{% if after_macro %}{{ after_macro() }}{% endif %}
{% endfor %}
{% endmacro %}

{% macro repomanaged(name,
                     file,
                     dist=none,
                     key=none,
                     key_url=none,
                     cleanup_pattern=none,
                     suf=none,
                     before_macro=none,
                     after_macro=none) %}
{% if not cleanup_pattern %}{% set cleanup_pattern = name.split()[1] %}{% endif%}
{% if not suf %}{% set suf='repomanaged-{0}-{1}'.format(name, file).replace(':', '-') %}{% endif %}
"repomanaged-{{suf}}":
{% if cleanup_pattern %}
  cmd.run:
{# remove old urls #}
{% if before_macro %}{{before_macro()}}{% endif %}
    - watch_in:
      - pkgrepo: "repomanaged-{{suf}}"
    - name: sed -i -re "\#{{cleanup_pattern}}# d" "{{file}}" && echo changed=false
    - onlyif: test  -e "{{file}}"
    - stateful: true
{% endif %}
  pkgrepo.managed:
    - name: "{{name}}"
    - file: "{{file}}"
    {% if dist %}- dist: "{{dist}}"{% endif %}
    {% if key_url %}- key_url: "{{key_url}}"{% endif %}
    {% if key %}- key: "{{key}}"{% endif %}
{% if after_macro %}{{after_macro()}}{% endif %}
{% endmacro %}

