{% set ldap_variables = {} %}
{% set ldap_variables_defaults = {
  'ldap_uri': 'ldaps://localhost:636/',
  'ldap_base': 'dc=company,dc=org',
  'ldap_passwd': 'ou=People,dc=company,dc=org?sub',
  'ldap_shadow': 'ou=People,dc=company,dc=org?sub',
  'ldap_group': 'ou=Group,dc=company,dc=org?sub',
  'ldap_cacert': ''} %}
{% for var, default_value in ldap_variables_defaults.items() %}
{% set dummy = ldap_variables.update(
    {var: pillar.get('makina.ldap.'+var, default_value)}) %}
{% endfor %}
{%- macro set_ldap_variables() -%}
    {% for i in ldap_variables -%}
    - {{ i }}: {{ ldap_variables[i] }}
    {% endfor -%}
{%- endmacro -%}
