{#-
# Services related exported variables
# see makina-states.services
# this macro is deprecated and will be phased out
#}
{# DEPRECATED #}

{%- import "makina-states/_macros/nodetypes.jinja" as nodetypes with context %}
{%- import "makina-states/_macros/controllers.jinja" as controllers with context %}
{#-
# expose imported macros
#}
{%- set nodetypes = nodetypes %}
{%- set localsettings = nodetypes.localsettings %}
{%- set funcs = localsettings.funcs %}

{%- set settings = salt['mc_services.settings']() %}
{%- set metadata = salt['mc_services.metadata']() %}
{%- set registry = salt['mc_services.registry']() %}

{%- set pgDbs = settings.pgDbs  %}
{%- set postgresqlUsers = settings.postgresqlUsers  %}
{%- set defaultPgVersion = settings.defaultPgVersion %}
{%- set pgSettings = settings.pgSettings%}
{%- set pgVers = settings.pgVers  %}
{%- set postgisVers = settings.postgisVers  %}
{%- set postgisDbName = settings.postgisDbName  %}
{%- set postgresqlUser = settings.postgresqlUser  %}

{%- set mysqlSettings = settings.mysqlSettings  %}
{%- set myDisableAutoConf = settings.myDisableAutoConf  %}
{%- set myCnf = settings.myCnf %}

{%- set tomcatSettings          = salt['mc_tomcat.settings']()  %}
{%- set apacheSettings          = salt['mc_apache.settings']()  %}
{%- set nginxSettings           = salt['mc_nginx.settings']()   %}
{%- set phpSettings             = salt['mc_php.settings']()     %}
# vim:set nofoldenable:
