{# icinga macro helpers #}
{#
{% set data = salt['mc_icinga.settings']() %}
{% set locs = salt['mc_locations.settings']() %}
{% macro icingaAddProgram(name, command) %}
{% set args = kwargs.pop('args', []) %}
{% set conf_priority = kwargs.pop('conf_priority', '100') %}
icinga-add-program-{{ name }}:
  file.managed:
    - name: {{ locs['conf_dir'] }}/icinga.d/{{conf_priority}}_{{ name }}.ini
    - makedirs: true
    - mode: 700
    - source: salt://makina-states/files/etc/icinga.d/program.ini
    - template: jinja
    - defaults:
        name: {{ name }}
        command: {{ command }}
        args: {{ args }}
        data: |
              {{salt['mc_utils.json_dump'](data)}}
        extras: |
                {{salt['mc_utils.json_dump'](kwargs)}}
    - watch:
      - mc_proxy: icinga-pre-conf
    - watch_in:
      - mc_proxy: icinga-post-conf
{% endmacro %}
#}
