{# DREPECATED #}
{%- import "makina-states/_macros/controllers.jinja" as controllers with context %}
{%- import "makina-states/_macros/nodetypes.jinja" as nodetypes with context %}
# expose imported macros to callers
{%- set controllers = controllers %}
{%- set nodetypes = nodetypes %}

{#- see _modules/mc_bootstraps.py for exposed settings #}
{%- set metadata = salt['mc_bootstraps.metadata']() %}
{%- set settings = salt['mc_bootstraps.settings']() %}
{%- set registry = salt['mc_bootstraps.registry']() %}
# vim:set nofoldenable:
