{% macro deliver_config_files(confs,
                              prefix='config-',
                              dir='makina-states/files',
                              after_macro=None,
                              user='root',
                              target_prefix="",
                              group='root',
                              mode=750,
                              makedirs=True,
                              template='jinja') %}
{# retrocompatible kwargs access, either from direct in the template or from the "data" variable #}
{% set inline_jkwargs = salt['mc_utils.deepcopy'](kwargs) %}
{% do inline_jkwargs.pop('data', None) %}
{% do inline_jkwargs.update({'data': kwargs}) %}

{% for f, fdata in confs.items() %}
{% set templated = fdata.get('template', template) %}
{{prefix}}{{f}}:
  file.managed:
    - name: "{{fdata.get('target', "{0}{1}".format(target_prefix, f))}}"
    - source: "{{fdata.get('source', 'salt://{0}{1}'.format(dir, f))}}"
    - mode: "{{fdata.get('mode', mode)}}"
    - user: "{{fdata.get('user', user)}}"
    - group:  "{{fdata.get('group', group)}}"
    {% if kwargs %}
    - context: {{inline_jkwargs | json }}
    {% endif %}
    {% if fdata.get('makedirs', makedirs) %}
    - makedirs: true
    {% endif %}
    {% if templated %}
    - template: "{{templated}}"
    {%else %}
    - template: false
    {%endif%}
{% if after_macro %}{{ after_macro() }}{% endif %}
{% endfor %}
{% endmacro %}


{% macro repomanaged(name,
                     file,
                     dist=none,
                     key=none,
                     key_url=none,
                     cleanup_pattern=none,
                     suf=none,
                     before_macro=none,
                     after_macro=none) %}
{% if not cleanup_pattern %}{% set cleanup_pattern = name.split()[1] %}{% endif%}
{% if not suf %}{% set suf='repomanaged-{0}-{1}'.format(name, file).replace(':', '-') %}{% endif %}
"repomanaged-{{suf}}":
{% if cleanup_pattern %}
  cmd.run:
{# remove old urls #}
{% if before_macro %}{{before_macro()}}{% endif %}
    - watch_in:
      - pkgrepo: "repomanaged-{{suf}}"
    - name: sed -i -re "\#{{cleanup_pattern}}# d" "{{file}}" && echo changed=false
    - onlyif: test  -e "{{file}}"
    - stateful: true
{% endif %}
  pkgrepo.managed:
    - name: "{{name}}"
    - file: "{{file}}"
    {% if dist %}- dist: "{{dist}}"{% endif %}
    {% if key_url %}- key_url: "{{key_url}}"{% endif %}
    {% if key %}- key: "{{key}}"{% endif %}
{% if after_macro %}{{after_macro()}}{% endif %}
{% endmacro %}


{# DEPRECATED but never ever remove this file to not break api v1#}
{% macro proxy(name, text='') %}
{{name}}:
  mc_proxy.hook:
    - name: {{name}}
{{text}}
{% endmacro %}
{% set dummy = proxy %}
