{#-
# LocalSettings exporterd variables
# see makina-states.localsettings
#}
{# DREPECATED #}

{#- expose imported macros #}

{#- see _modules/mc_localsettings.py for exposed settings #}
{%- set metadata = salt['mc_localsettings.metadata']() %}
{%- set registry = salt['mc_localsettings.registry']() %}
# vim:set nofoldenable:
