{#
# Servers nodetypes exported variables
#}
{# DREPECATED #}
{# DEPRECATED but never ever remove this file to not break api v1#}
{#- see _modules/mc_nodetypes.py for exposed settings #}
{%- set metadata = salt['mc_nodetypes.metadata']() %}
{%- set settings = salt['mc_nodetypes.settings']() %}
{%- set registry = salt['mc_nodetypes.registry']() %}
{%- set isDevhost = settings.isDevhost %}
{%- set isTravis = settings.isTravis %}
