{%- set locs = salt['mc_locations.settings']() %}
{%- set settings = salt['mc_salt.settings']() %}
{#- dummies  states for orchestration #}
{% macro hooks() %}
{#- only here for orchestration purposes #}
dummy-pre-salt-checkouts:
  mc_proxy.hook: []
dummy-pre-salt-service-restart:
  mc_proxy.hook: []
dummy-post-salt-service-restart:
  mc_proxy.hook: []
dummy-salt-layout:
  mc_proxy.hook: []
{# retrocompat: do not remove the service hooks #}
dummy-pre-minion-service-restart:
  mc_proxy.hook:
    - require:
      - mc_proxy: dummy-pre-salt-service-restart
      - mc_proxy: dummy-pre-mastersalt-service-restart
dummy-post-minion-service-restart:
   mc_proxy.hook:
    - require:
      - mc_proxy: dummy-post-salt-service-restart
      - mc_proxy: dummy-post-mastersalt-service-restart
dummy-pre-master-service-restart:
  mc_proxy.hook:
    - require:
      - mc_proxy: dummy-pre-salt-service-restart
      - mc_proxy: dummy-pre-mastersalt-service-restart
dummy-post-master-service-restart:
   mc_proxy.hook:
    - require:
      - mc_proxy: dummy-post-salt-service-restart
      - mc_proxy: dummy-post-mastersalt-service-restart
dummy-pre-salt-minion-service-restart:
  mc_proxy.hook: []
dummy-pre-salt-master-service-restart:
  mc_proxy.hook: []
dummy-post-salt-minion-service-restart:
   mc_proxy.hook:
    - require_in:
      - mc_proxy: dummy-post-salt-service-restart
dummy-post-salt-master-service-restart:
   mc_proxy.hook:
    - require_in:
      - mc_proxy: dummy-post-salt-service-restart
dummy-pre-mastersalt-minion-service-restart:
  mc_proxy.hook: []
dummy-pre-mastersalt-master-service-restart:
  mc_proxy.hook: []
dummy-post-mastersalt-minion-service-restart:
   mc_proxy.hook:
    - require_in:
      - mc_proxy: dummy-post-mastersalt-service-restart
dummy-post-mastersalt-master-service-restart:
   mc_proxy.hook:
    - require_in:
      - mc_proxy: dummy-post-mastersalt-service-restart
dummy-pre-mastersalt-service-restart:
  mc_proxy.hook: []
dummy-post-mastersalt-service-restart:
  mc_proxy.hook: []
dummy-pre-mastersalt-checkouts:
  mc_proxy.hook: []
dummy-mastersalt-layout:
  mc_proxy.hook: []
{% endmacro %}

{% macro install_makina_states(mode='xxx', adata=None) %}
{%- set bootsalt= '{0}/_scripts/boot-salt.sh'.format(settings.msr) %}
{% set pathid = salt['mc_utils.hash'](settings.msr, typ='md5') %}
{% for bin in ['ansible', 'ansible-playbook', 'salt-call', 'boot-salt.sh'] %}
salt-{{bin}}-bootsalt-link-bin:
  file.symlink:
    - name: /usr/local/bin/{{bin}}
    - target: {{ settings.msr }}/_scripts/{{bin}}
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
{% endfor %}
salt-restrict-conf:
  file.directory:
    - names:
      - {{ settings.msr }}/pillar
      - {{ settings.msr }}/etc
    - mode: 700
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
salt-crons:
  {% if not settings.cron_auto_sync %}
  file.absent:
    - name: /etc/cron.d/salt{{pathid}}
    - require:
      - mc_proxy: dummy-pre-salt-checkouts
      - cmd: update-makinastates-salta
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
  {% else %}
  file.managed:
    - name: /etc/cron.d/salt{{pathid}}
    - require:
      - mc_proxy: dummy-pre-salt-checkouts
      - cmd: update-makinastates-salta
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
    - source: ''
    - mode: 750
    - user: root
    - contents: |
                {% if settings.cron_auto_sync %}
                # salt code synchronization job
                {{settings.cron_sync_minute}} {{settings.cron_sync_hour}} * * * root   {{bootsalt}} --synchronize-code --quiet -C --no-colors
                {% endif %}
  {% endif %}
update-makinastates-salta:
  cmd.run:
    - name: {{bootsalt}} -C --no-colors --synchronize-code
    - require:
      - mc_proxy: dummy-pre-salt-checkouts
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart

update-makinastates-saltb:
  cmd.run:
    - name: |
            DO_SKIP_CHECKOUTS=y {{bootsalt}} -C \
              --no-makina-states --no-nodetype
    - require:
      - mc_proxy: dummy-pre-salt-checkouts
      - cmd: update-makinastates-salta
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
salt-salt-logrotate:
  file.managed:
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
    - template: jinja
    - name: {{ locs.conf_dir }}/logrotate.d/salt{{pathid}}.conf
    - source: salt://makina-states/files/etc/logrotate.d/salt.conf
    - require:
      - mc_proxy: dummy-pre-salt-checkouts
      - cmd: update-makinastates-salta
    - require_in:
      - mc_proxy: dummy-pre-salt-service-restart
{% endmacro %}
# vim: set nofoldenable:
