{#-
# Services related exported variables
# see makina-states.services
# this macro is deprecated and will be phased out
#}
{# DEPRECATED but never ever remove this file to not break api v1#}
{#-
# expose imported macros
#}
{% import "makina-states/_macros/nodetypes.jinja" as nodetypes with context %}
{%- set settings = salt['mc_services.settings']() %}
{%- set metadata = salt['mc_services.metadata']() %}
{%- set registry = salt['mc_services.registry']() %}
{%- set nodetypes = nodetypes %}
