{# circus macro helpers #}
{% set data = salt['mc_circus.settings']() %}
{% set locs = salt['mc_locations.settings']() %}
{% macro circusAddWatcher(name, cmd) %}
{% set args = kwargs.pop('args', []) %}
{% set conf_priority = kwargs.get('priority', kwargs.get('conf_priority', '100')) %}
{% set force_reload = kwargs.pop('manager_force_reload', kwargs.pop('force_reload', False)) %}
{% set force_restart = kwargs.pop('manager_force_restart', kwargs.pop('force_restart', False)) %}
circus-add-watcher-{{ name }}-parents:
  file.directory:
    - mode: 755
    - names:
      - /etc/circus/circusd.conf.d
    - makedirs: true
    - watch:
      - mc_proxy: circus-pre-conf-watchers
    - watch_in:
      - mc_proxy: circus-post-conf-watchers
circus-manager-{{ name }}-manager:
  file.managed:
    - name: /etc/circus/manager.sh
    - source: salt://makina-states/files/etc/circus/manager.sh
    - template: jinja
    - mode: 755
    - watch:
      - mc_proxy: circus-pre-conf-watchers
      - file: circus-add-watcher-{{ name }}-parents
    - watch_in:
      - mc_proxy: circus-post-conf-watchers
circus-manager-{{ name }}-manager-wrapper:
  file.managed:
    - name: /etc/circus/manager_{{name}}.sh
    - source: salt://makina-states/files/etc/circus/manager_wrapper.sh
    - template: jinja
    - mode: 755
    - defaults: {name: {{ name }}}
    - watch:
      - mc_proxy: circus-pre-conf-watchers
      - file: circus-add-watcher-{{ name }}-parents
    - watch_in:
      - mc_proxy: circus-post-conf-watchers
circus-add-watcher-{{ name }}:
  file.managed:
    - name: {{ locs['conf_dir'] }}/circus/circusd.conf.d/{{conf_priority}}_watcher-{{ name }}.ini
    - source: salt://makina-states/files/etc/circus/circusd.conf.d/watcher.ini
    - template: jinja
    - mode: 755
    - defaults:
        name: {{ name }}
        cmd: {{ cmd }}
        args: {{ args }}
        data: |
              {{salt['mc_utils.json_dump'](data)}}
        extras: |
                {{salt['mc_utils.json_dump'](kwargs)}}
    - watch:
      - mc_proxy: circus-pre-conf-watchers
      - file: circus-add-watcher-{{ name }}-parents
    - watch_in:
      - mc_proxy: circus-post-conf-watchers
{% if force_restart %}
circus-force-hard-restart-watcher-{{ name }}:
  cmd.run:
    - name: echo restart
    - watch:
      - mc_proxy: circus-post-conf-watchers
    - watch_in:
      - mc_proxy: circus-pre-hard-restart-watcher-{{ name }}
{% endif %}
circus-pre-hard-restart-watcher-{{ name }}:
  mc_proxy.hook:
    - require: {# do not restart, by default, only reload #}
      - mc_proxy: circus-post-conf-watchers
circus-pre-hard-restart-watcher-{{ name }}-manage:
  cmd.wait:
    - name: /etc/circus/manager_{{name}}.sh restart
    - watch:
      - mc_proxy: circus-pre-hard-restart-watcher-{{ name }}
    - watch_in:
      - mc_proxy: circus-post-hard-restart-watcher-{{ name }}
circus-post-hard-restart-watcher-{{ name }}:
  mc_proxy.hook:
    - require:
      - mc_proxy: circus-pre-hard-restart-watcher-{{ name }}
    - watch_in:
      - mc_proxy: circus-post-watchers
{% if force_reload %}
circus-force-restart-watcher-{{ name }}:
  cmd.run:
    - name: echo reload
    - watch:
      - mc_proxy: circus-post-conf-watchers
    - watch_in:
      - mc_proxy: circus-pre-restart-watcher-{{ name }}
{% endif %}
circus-pre-restart-watcher-{{ name }}:
  mc_proxy.hook:
    - require:
      - mc_proxy: circus-post-hard-restart-watcher-{{ name }}
    - watch:
      - mc_proxy: circus-post-conf-watchers
circus-pre-restart-watcher-{{ name }}-manage:
  cmd.wait:
    - name: /etc/circus/manager_{{name}}.sh reload
    - watch:
      - mc_proxy: circus-pre-restart-watcher-{{ name }}
    - watch_in:
      - mc_proxy: circus-post-restart-watcher-{{ name }}
circus-post-restart-watcher-{{ name }}:
  mc_proxy.hook:
    - watch:
      - mc_proxy: circus-pre-restart-watcher-{{ name }}
    - watch_in:
      - mc_proxy: circus-post-watchers

{% endmacro %}
{% macro circusRemoveWatcher(name, cmd) %}
{% set conf_priority = kwargs.get('priority', kwargs.get('conf_priority', '100')) %}
circus-remove-watcher-{{ name }}:
  file.absent:
    - name: {{ locs['conf_dir'] }}/circus/circusd.conf.d/{{conf_priority}}_watcher-{{ name }}.ini
    - watch:
      - mc_proxy: circus-pre-conf2
    - watch_in:
      - mc_proxy: circus-post-conf
{% endmacro %}
{% macro circusToggleWatcher(toggle, name) %}
{%  if toggle %}
{{    circusAddWatcher(name, **kwargs) }}
{%  else %}
{{    circusRemoveWatcher(name, **kwargs) }}
{%  endif %}
{% endmacro %}
