{#
# DEPRECATED PROJECT STYLE -- USE APIV2
#
#}
{%- import "makina-states/services/php/init.sls" as php with context %}
{%- import "makina-states/projects/1/apache.jinja" as pbase with context %}
{%- import "makina-states/projects/1/base.jinja" as base with context %}
{%- set apache = php.apache %}
{%- set base = base %}
{%- set apache = apache %}
{%- set services = base.services %}
{%- set apacheData = salt['mc_apache.settings']().copy() %}
{%- set saltmac = base.saltmac %}
{%- set locations = salt['mc_locations.settings']() %}

{#
# This will install a basic PHP virtualhost served by apache and
# backed by modphp
#}

{#
# Data dictionnaries that feed the "common.data" dictionnary
# This is one of the most difficult part to understand, idea is to
#}
{%- set default_defaults = {
  'apache_opts': {
    'vh_in_template_source': 'salt://makina-states/files/projects/modphp/in_virtualhost.conf',
    'extra_jinja_apache_variables': {
         'appConnTimeout': 30,
         'idleTimeout': 60,
         'allowed_files': 'update.php|index.php|install.php|xmlrpc.php|cron.php'
    },
  },
} %}

{% set default_env_defaults = {
   'dev': {},
   'prod': {}
} %}

{#-
#  Makina project per project macro couple (install_apache_project/install_project)
#  This will install an apache virtualhost serving in project_root/www for the
#  configured domain(s)
#}
{% macro install_modphp_project_do(common) %}
{{ pbase.vhost_from_common_data(common, minimal_index=php.minimal_index) }}
{%- endmacro %}

{#- Look available arguments in _modules/mc_project.py:get_commmon_vars #}
{%- macro install_modphp_project() %}
{%- do kwargs.setdefault('defaults', default_defaults) %}
{%- do kwargs.setdefault('env_defaults', default_env_defaults) %}
{%- do kwargs.setdefault('user', 'modphp') %}
{%- set common = salt['mc_project.get_common_vars'](*varargs, **kwargs) %}
{%-   do common.sls_includes.append('makina-states.services.php.modphp')%}
{{- base.install_project(common, install_macro=install_modphp_project_do) }}
{% endmacro %}
{# vim: set nofoldenable :#}
