{#retrocompat#}
{% import "makina-states/services_managers/circus/macros.jinja" as m with context %}
{% set data = m.data %}
{% set locs = m.locs %}
{% set circusAddWatcher = m.circusAddWatcher %}
{% set circusRemoveWatcher = m.circusRemoveWatcher %}
{% set circusToggleWatcher = m.circusToggleWatcher %}
