#
# PHP Fine Settings ------------------------------------------------
{% set phpStepOne = salt['grains.filter_by']({
    'dev': {
        'foo': 'bar',
    },
    'prod': {
        'foo': 'bar',
    }
  },
  grain='default_env',
  default= 'dev'
) %}
# Default OS-based paths settings added on phpData
# TODO: php5-suhosin (dotdeb)
{% set phpStepTwo = salt['grains.filter_by']({
    'Debian': {
        'packages': {
            'main': 'php5',
            'mod_php': 'libapache2-mod-php5',
            'mod_php_filter': 'libapache2-mod-php5filter',
            'php5_cgi': 'php5-cgi',
            'php_fpm': 'php5-fpm',
            'apc': 'php-apc',
            'cli': 'php-cli',
            'cas' : 'php-cas',
            'imagemagick': 'php5-imagick',
            'memcache': 'php5-memcache',
            'memcached': 'php5-memcached',
            'mysql': 'php5-mysql',
            'postgresql': 'php5-pgsql',
            'sqlite': 'php5-sqlite',
            'pear': 'php-pear',
            'soap': 'php-soap',
            'dev': 'php5-dev',
            'snmp': 'php5-snmp',
            'xmlrpc': 'php5-xmlrpc',
            'json': 'php5-json',
            'xdebug': 'php5-xdebug',
            'curl': 'php5-curl',
            'gd': 'php5-gd',
            'ldap': 'php5-ldap',
            'mcrypt': 'php5-mcrypt'
        },
        'service': 'php5-fpm',
        'etcdir': '/etc/php5',
        'confdir': '/etc/php5/conf.d',
        'logdir': '/var/log/php'
    }
  },
  grain='os_family',
  merge=phpStepOne
) %}
# FINAL STEP: merge with data from pillar
{% set phpData=salt['mc_utils.dictupdate'](phpStepTwo , salt['pillar.get']('php-settings',{})) %}
