{#
# DEPRECATED PROJECT STYLE -- USE APIV2
#
#}
{%- import "makina-states/projects/1/python.jinja" as python with context %}
{% import "makina-states/services/db/postgresql/init.sls" as pgsql with context %}
{%- set services = python.services %}

{%- set dbName = salt['mc_utils.get']('makina-states.projects.ode_api.db_name', 'ode') %}
{%- set dbUser = salt['mc_utils.get']('makina-states.projects.ode_api.db_user', 'ode') %}
{%- set dbPassword = salt['mc_utils.get']('makina-states.projects.ode_api.db_password', 'ode') %}

{% macro install_python(common) %}
{{ python.install_generic_python_project(*varargs, **kwargs) }}
{% endmacro %}

{% macro install_pgsql(common) %}
{{ pgsql.postgresql_db(dbName) }}
{{ pgsql.postgresql_user(dbUser, dbPassword, groups=['{0}_owners'.format(dbName)]) }}
{% endmacro %}

{% macro install_setup(common) %}
{%- set domain = salt['mc_utils.get']('makina-states.projects.ode_api.domain', 'ode_api.localhost') %}
{%- set fromEmail = salt['mc_utils.get']('makina-states.projects.ode_api.from_email', 'noreply@' + domain) %}

ode_api_project_file_circus:
  file.managed:
    - name: {{ common['project_root'] }}/circus.ini
    - source: salt://makina-states/files/projects/ode_api/circus.ini
    - user: {{ common['user'] }}
    - mode: 644
    - template: jinja
    - context:
        endpoint_port: {{ salt['mc_utils.get']('makina-states.projects.ode_api.circus_port', 56555) }}
        pubsub_endpoint_port: {{ salt['mc_utils.get']('makina-states.projects.ode_api.circus_pubsup_port', 56556) }}
        stats_endpoint_port: {{ salt['mc_utils.get']('makina-states.projects.ode_api.circus_stats_port', 56557) }}
        wsgi_application: wsgi.application
        port: {{ salt['mc_utils.get']('makina-states.projects.ode_api.port', 8002) }}

ode_api_project_file_production:
  file.managed:
    - name: {{ common['project_root'] }}/production.ini
    - source: salt://makina-states/files/projects/ode_api/production.ini
    - user: {{ common['user'] }}
    - mode: 600
    - template: jinja
    - context:
        dbName: {{ dbName }}
        dbUser: {{ dbUser }}
        dbPassword: {{ dbPassword }}
        domain: {{ domain }}
        fromEmail: {{ fromEmail }}
        admins: {{ salt['mc_utils.get']('makina-states.projects.ode_api.admins', []) }}

ode_api_project_setup:
  cmd.run:
    - name: >
        . .virtualenv/bin/activate
        && python setup.py develop
        && .virtualenv/bin/initialize_ode_db production.ini
        && python setup.py compile_catalog -l fr
    - cwd: {{ common['project_root'] }}
    - user: {{ common['user'] }}
{% endmacro %}

{% macro install_ode_api_project() %}
{% do kwargs.setdefault('url', 'https://github.com/makinacorpus/ODE.git') -%}
{% do kwargs.setdefault('name', 'ode_api') -%}
{% do kwargs.setdefault('user', 'ode_api') -%}
{% do kwargs.setdefault('domain', 'example.com') -%}
{% do kwargs.setdefault('sls_includes', [
  'makina-states.services.db.postgresql',
  'makina-states.localsettings.python'
  ]) -%}

{% set common = salt['mc_project.get_common_vars'](*varargs, **kwargs) -%}

{# also install pgsql through include -#}
{{ install_python(common, *varargs, **kwargs) }}
{{ install_pgsql(common) }}
{{ install_setup(common) }}
{% endmacro %}
